  h1 {
            color: rgb(0, 232, 15);text-align:center;
        }  

        
        body {
            background-color: rgb(176,224,230);
        }
            
	#salu-dable {
            background-color: white;
        }
	#comi-endo {
            background-color: white;
     }
    #hacien-do {
            background-color: white;
        }
 #dor-mir {
            background-color: white;
        }
 #redu-cir {
            background-color: white;
        }
	.bene-ficios {
            background-color: orange;
        }
	.esti-vida {
		color:yellow;
}
	#enfer-medades {
            background: rgb(230, 230, 230);
        }
#footer {text-align:center;
  
}

